version: "3.2"
services:
  setup_data_generator_fri:
    image: "zkamoeba/setup_data_generator_fri:latest"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    volumes:  
      - ./setup-data:/usr/src/setup-data
    env_file:
      - ./setup.env